@using WebCis.Model;
@using WebCis.ViewModel

@model WebCis.ViewModel.StationViewModel


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h3>Вы действительно хотите удалить станцию?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EcpCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EcpCode)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
